
body{
    padding: 0%;
    margin: 0%;
}


main{
    max-width: 600px;
    margin: 15px;
    display: block;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,auto);
    
    
}
input{
  grid-column: 1/-1;
  grid-row: 1/2;
   width: 30vw;
}
button{
    
}